body {
    background-color:#c7ccd4;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-areas: 
      "nav nav nav"
      "gallery gallery sidebar"
      "gallery gallery sidebar"
      "gallery gallery sidebar"
      "footer footer footer";
      grid-template-columns: auto auto auto;
      grid-template-rows: ;

}

nav {
    width: 100%
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    background-color: azure;
    align-items: center;
    color: #1b2d4a;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    grid-area: gallery;
}

nav:first-child {
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin-right: 2rem;
    cursor: pointer;
}