body {
    background-color:#c7ccd4;
    margin: 0;
    padding: 0;
}

h1 {
  font-size: 2.5rem;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-areas: 
      "nav nav nav"
      "banner banner banner"
      "sidebar gallery gallery"
      "sidebar gallery gallery"
      "sidebar gallery gallery"
      "footer footer footer";
      grid-template-columns: 1fr 2fr 2fr;
      

}

.nav {
    grid-area: nav;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    background-color: azure;
    align-items: center;
    color: #1b2d4a;
    position: fixed;
}

.banner {
  display:flex;
  flex-direction: column;
  grid-area: banner;
  text-align: center;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 600px;
  margin-bottom: 50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    grid-area: gallery;
    justify-content: center;
    align-items: center;
    }

.gallery img {
    max-width: 200px;
    margin: 10px;
    flex-grow: 1;
    border:1px solid #fff;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
}

.nav:first-child {
    margin-right: auto;
    padding: 1rem;
}

.nav ul {
    display: flex;    
    list-style-type: none;
    margin-right: 2rem;
    cursor: pointer;
    
}

.nav ul li:hover {
    position: relative; 
    top: -5px;
}

.nav ul li {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.sponsor {
    padding: 2rem 1rem;
    border: #1b2d4a 2px solid;
    margin: 2rem;

}

.sponsorMessages {
    text-align: center;
    padding: 2rem;
}

.footer {
    display: flex;
    grid-area: footer;
    justify-content: flex-end;
    background-color: #1b2d4a;
    color: beige;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
    
    }

    .wrapper {
        grid-template-columns: auto auto;
        grid-template-areas: 
          "nav nav"
          "banner banner"
          "gallery gallery"
          "gallery gallery"
          "gallery gallery"
          "sidebar sidebar"
          "footer footer";
    }
  }

@media only screen and (max-width: 500px) {
    .wrapper {
        grid-template-columns: auto;
        grid-template-areas: 
          "nav"
          "banner"
          "gallery"
          "gallery"
          "sidebar"
          "footer";
    }

    .nav {
        flex-direction: column;
    
    }

    .footer {
        justify-content: center;
    }
  }